<footer>
  <div class="copy">
    <p>If you would like to be part of our exciting pre launch team or if you have any questions<br> you can always contact me directly at <%= mail_to 'matt@liveseasonal.com' %> or skype: liveseasonal</p>
    <br>

    <p>Copyright © 2014 liveseasonal.com</p>
  </div>
</footer>
