<footer>
  <div class="copy">
    <p>If you have any questions please feel free to contact me directly at <%= mail_to 'matt@liveseasonal.com' %>.</p>

    <p>If you would like to be part of our awesome pre launch team e mail the above and we can speak about possibilities.</p>

    <p>Copyright © 2014 liveseasonal.com</p>
  </div>
</footer>
