<header class="navbar">
  <nav class="navbar" role="navigation">
    <div class="container">
      <nav class="navbar-header">
        <%= link_to root_path, class: 'navbar-brand logo' do %>
          <div></div>
        <% end %>
      </nav>
      <nav class="navbar-collapse collapse nav-access">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Experiences', '#', class: 'cursive' %>
          </li>
          <li>
            <%= link_to 'Coming Dec 20th', '#', class: 'cursive' %>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</header>
