<header class="navbar">
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path, class: 'navbar-brand logo' do %>
          <div></div>
        <% end %>
        <ul class="nav navbar-nav navbar-left">
          <li>
            <%= link_to 'Experiences', root_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
