/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrapValidator.min
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

@import 'home';
@import 'refer';

body {
   font-family: 'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.cursive {
  font-family: 'Pacifico', cursive !important;
}

.navbar {
  margin-bottom: 0px;

  .logo {
    height: 64px;

    div {
      position: relative;
      top: 50%;
      margin: -21px 0 0 0;
      background: asset-data-url('liveseasonal-logo@2x.png') 0 0 no-repeat;
      background-size: 220px;
      height: 42px;
      width: 220px;
    }
  }

  ul.nav {
    margin-top: 0;
    margin-bottom: 0;
    a {
      font-size: 24px;
      font-weight: normal;
      color: #4acac8;
      padding: 0 20px;
      line-height: 64px;
      float: left;
    }
  }
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: rgba(0,0,0,0.7);
  padding: 40px;

  p {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 2em;
    margin-bottom: 0;
  }
}
