/* Refer a friend page */

$darkishblue: rgb(47,68,128);
$smokeblack: rgba(0,0,0,0.7);

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

#refer {
  color: $smokeblack;

  .banner {
    .container {
      padding-bottom: 45px;
    }

    .slogan {
      height: 420px;
      background: asset-data-url("refer/banner-refer.jpg") 0 0 no-repeat;
      background-size: 100%;
      margin: 0 auto;
      margin-top: 0;
    }

    .share-wrap {
      width: 400px;
      text-align: center;
      letter-spacing: .13em;
      margin: 0 auto;
      margin-top: 50px;

      .why {
        font-size: 20px;
        font-weight: 500;
        margin-top: 20px;
      }

      .title {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
        color: #777c84;
        margin-top: 18px;
        letter-spacing: .13em;
      }

      .subtitle {
        font-size: 16px;
        text-transform: none;
        margin-top: 15px;
      }

      .copy-link {
        border: 1px solid #D1D0C7;
        background: #FFF;
        padding: 10px 0;
        width: 330px;
        text-transform: none;
        font-size: 14px;
        margin: 20px auto 0;
      }

      .social-links {
        width: 120px;
        height: 37px;
        margin: 25px auto 0;
        text-align: center;

        a, div {
          display: inline-block;
        }

        .fb {
          background: asset-data-url("refer/fb.png");
          background-size: 27px 27px;
          width: 27px;
          height: 27px;
        }

        .twit {
          background: asset-data-url("refer/twit.png");
          background-size: 27px 27px;
          width: 27px;
          height: 27px;
        }

        .sep {
          height: 28px;
          width: 1px;
          background: #BAB9BA;
          margin: 0 20px;
        }
      }
    }
  }

  .seo-speach {
    .container {
      padding-top: 40px;
    }
  }

  .works {
    h3, p {
      text-align: center;
    }

    h3 {
      font-size: 40px;
      color: #34373b;
      margin: 0 0 20px;
    }

    b {
      font-size: 20px;
    }
  }

  .prizes {
    .container {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 40px;
    }

    h1 {
      font-size: 30px;
      color: $darkishblue;
      font-weight: bold;
      margin: 20px 0 10px 0;
      letter-spacing: 2px;
    }

    .rewards {
      padding-top: 35px;
      min-width: 610px;

      .titles {
        min-width: 210px;

        #friends {
          margin-top: 9px;
          margin-bottom: 58px;
        }

        h2 {
          font-size: 28px;
          color: #34373b;
        }
      }

      @media (min-width: 417px) and (max-width: 991px) {
          .titles {
            padding-right: 50px;
          }
        }



      .product {
        .circle {
          height: 48px;
          width: 48px;
          border-radius: 24px;
          font-size: 18px;
          border: 1px solid #DAD9D2;
          text-align: center;
          line-height: 46px;
          color: black;
          overflow: hidden;
          // background: #F1F0EE;
          font-weight: bold;
          margin: 0 auto;
        }

        .reward {
          background: white;

          img {
            width: 30px;
            padding-top: 5px;
          }
        }

        .sep {
          width: 12px;
          height: 14px;
          background: transparent;
          margin: 13px auto 13px;
        }

        p {
          text-align: center;
          font-weight: 500;
        }
      }

      .last {
        margin-right: 0;
        padding-right: 0;

        .circle, .sep {
          margin-right: 0;
        }
      }

      .hotels-map {
        padding-left: 0;

        img {
          margin-left: 0;
          padding-top: 30px;
        }

        @media (min-width: 417px) and (max-width: 991px) {
          img {
            padding-top: 50px;
          }
        }
      }

      .progress {
        height: 4px;
        width: 65%;
        margin-left: 30px;
        background: asset-data-url("refer/progress-bg.png") 0 0 repeat-x;
        background-size: 1px 4px;
        position: relative;
        top: -115px;
        z-index: 0;

        .mover {
          position: relative;
          top: 0;
          left: 0;
        }
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        .progress {
          top: -108px;
        }
      }

      @media (min-width: 744px) and (max-width: 991px) {
        .progress {
          top: -94px;
        }
      }

      @media (max-width: 743px) {
        .progress {
          display: none;
        }
      }

    }

    h2.callout {
      color: #4acac8;
      margin-bottom: 20px;
    }

    p.place {
      text-align: center;
      font-size: 16px;
      color: $smokeblack;
      width: 100%;
      font-weight: 500;
      margin-top: 30px;

      span {
        color: #995F5E;
      }
    }

    p.check {
      text-align: center;
      font-size: 16px;
      color: #858181;
      width: 100%;
      font-weight: 500;
      margin-top: 5px;
    }

    a.policy {
      text-align: center;
      font-size: 12px;
      color: #CCCCCC;
      width: 100%;
      font-weight: 500;
      margin-top: 5px;
      display: block;
      text-decoration: none;
    }
  }
}





































